<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tarea3.Unidad3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF47DB531C5B00B0005BB681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF47DB671C5B00B1005BB681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF47DB721C5B00B1005BB681</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
